

























TERMINAL_MODAL_IMAGE=



TERMINAL_TIMEOUT=

TERMINAL_LIFETIME_SECONDS=







BROWSERBASE_PROXIES=

BROWSERBASE_ADVANCED_STEALTH=


BROWSER_SESSION_TIMEOUT=

BROWSER_INACTIVITY_TIMEOUT=















WEB_TOOLS_DEBUG=
VISION_TOOLS_DEBUG=
MOA_TOOLS_DEBUG=
IMAGE_TOOLS_DEBUG=











TERMINAL_ENV=
CAMOFOX_URL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_USERS=
TELEGRAM_HOME_CHANNEL=
OPENROUTER_API_KEY=
OPENCODE_ZEN_API_KEY=
OPENCODE_ZEN_BASE_URL=
NVIDIA_API_KEY=
NVIDIA_BASE_URL=
NOTION_API_KEY=
NOTION_API_TOKEN=
NOTION_KEYRING=
MCP_COMPOSIO_API_KEY=
